<% include ../partials/header %>
<div class="sharePage-jumbotron">
    
</div>
<div class="ui container">
    <form action="/recipe/<%= recipe.id %>?_method=PUT" class="ui form" method="post">
        <div class="field">
            <label for="">Title</label>
            <input type="text" name="recipe[title]" value="<%= recipe.title %>">
        </div>
        <div class="field">
            <label for="">Image</label>
            <input type="file" name="upload">
        </div>
        <div class="field">
            <label for="">Category</label>
            <select name="recipe[category]">
                <option value="maindish">main dish</option>
                <option value="appetizer">appetizer</option>
                <option value="breakfast&brunch">breakfast&brunch</option>
                <option value="dessert">dessert</option>
            </select>
        </div>
        <div class="field">
            <label for="">Description</label>
            <textarea name="recipe[description]"><%= recipe.description %></textarea>
        </div>
        <div class="field">
            <label for="">Ingredients</label>
            <textarea name="recipe[ingredients]"><%= recipe.ingredients %></textarea>
        </div>
        <div class="field">
            <label for="">Directions</label>
            <textarea name="recipe[directions]"><%= recipe.directions %></textarea>
        </div>
        <div class="field">
            <label for="">Nutrition Facts</label>
            <textarea name="recipe[nutrition_facts]"><%= recipe.nutrition_facts %></textarea>
        </div>
        <div class="field">
            <input type="submit">
        </div>
    </form>
</div>

<% include ../partials/footer %>