<% include ../partials/header %>
<div class="item">
    <div class="image">
        <img src="<%= recipe.image %>">
    </div>
    <div class="content">
        <a class="Header"><%=recipe.title%></a>
        <div class="meta">
            <span>Recipe By: <%=recipe.author.username %></span>
        </div>
        <div class="description">
            <p><%= recipe.ingredients %></p>
            <p><%= recipe.directions %></p>
            <p><%= recipe.nutrition_facts %></p>
            <p><%= recipe.description %></p>
        </div>
        <% if(currentUser && recipe.author.id.equals(currentUser._id)){ %>
            <a class="btn btn-warning" href="/recipe/<%= recipe._id %>/edit-recipe">Edit</a>
            <form class = "form-inline" action="/recipe/<%= recipe._id %>?_method=DELETE" method="post">
                <button class="btn btn-danger">Delete</button>
            </form>
        <%}%>
        
    </div>
</div>

<div class="well">
    <div class="text-right">
        <% if(currentUser){ %>
            <button data-toggle= "collapse"  data-target="#comment-area" class=" toggle btn btn-success">Add New Comment</button>
        <% }else{ %>
            <a href="/login" class="btn btn-success">Login First</a>
        <% } %>
    </div>
    <div id="comment-area" class="container collapse">
        <div class="row">
            <h3>Add a new comment to <%= recipe.title %></h3>
            <div>
                <form action="/recipe/<%= recipe._id %>/comments" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" name="comment[text]" placeholder="text">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-sm btn-success">POST!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="comment-area" class="container collapse">
        <div class="row">
            <h3>Add a new comment to <%= recipe.title %></h3>
            <div>
                <form action="/recipe/<%= recipe._id %>/comments" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" name="comment[text]" placeholder="text">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-sm btn-success">POST!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <% recipe.comments.forEach(function(comment){ %>
            <div class="row">
                <div class="col-md-12">
                    <strong><%= comment.author.username %></strong>
                    <span><%= comment.date.toDateString() %></span>
                    <p><%= comment.text %></p>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <button data-toggle= "collapse" data-target= "#comment" class="toggle btn btn-warning">Edit</button>
                        <form  class="form-inline" action="/recipe/<%=recipe._id%>/comments/<%= comment._id %>?_method=DELETE" method="post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                        <div id="comment" class="collapse">
                            <form action="/recipe/<%=recipe._id%>/comments/<%= comment._id %>?_method=PUT" method="post">

                                <div class="form-group">
                                    <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
                                </div>
                                <div class="form-group">
                                  <button class="btn btn-success form-inline">UPDATE</button>  
                                </div>
                            </form>
                        </div>
                    <%}%>
                </div>
            </div>
        <% }); %>

    </div>
</div>
<% include ../partials/footer %>