<% include ../partials/header %>
<div class="jumbotron">
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-2">
            
        </div> 
        <div class="col-xs-12 col-sm-8">
            <div id="recipe-header">
                <h1><%=recipe.title%></h1> 
                <div id="recipe-edit">
                   <a class="displayInline">Recipe By: <%=recipe.author.username %></a>
                     <% if(currentUser && recipe.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-sm btn-warning" href="/recipe/<%= recipe._id %>/edit-recipe">Edit</a>
                        <form  class="displayInline" action="/recipe/<%= recipe._id %>?_method=DELETE" method="post">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form> 
                    <%}%>     
                </div>   
            </div>
            <div class="view hm-zoom">
              <img id="recipe-img" src="/assets/image/<%= recipe.image %>">  
            </div>
            <div id="recipe-content">
                <h2>Description</h2>
                <p class="recipe-p"><%= recipe.description %></p>
                <hr>
                <h2>Ingredients</h2>
                <p class="recipe-p"><%= recipe.ingredients %></p>
                <hr>
                <h2>Directions</h2>
                <p class="recipe-p"><%= recipe.directions %></p>
                <hr>
                <h2>Nutrition Facts</h2>
                <p class="recipe-p"><%= recipe.nutrition_facts %></p>    
            </div>
            <div id="recipe-comment">
                <div id="comment-header">
                    <h2>Comments</h2>
                </div>
                <div class="clear"></div>
                <div id="comment-input">
                    <form action="/recipe/<%= recipe._id %>/comments" method="post">
                        <div class="form-group">
                            <textarea name="comment[text]">add a comment</textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-success">POST</button>
                        </div>
                    </form>
                    <hr>
                    <div id="comments">
                        <% recipe.comments.forEach(function(comment){ %>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="comment-info">
                                        <strong><%= comment.author.username %></strong>
                                        <span><%= comment.date.toDateString() %></span>
                                    </div>
                                    <div class="comment-control">
                                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                            <button data-toggle= "collapse" data-target= "#comment" class="toggle btn btn-sm btn-warning">Edit</button>
                                            <form  class="form-inline" action="/recipe/<%=recipe._id%>/comments/<%= comment._id %>?_method=DELETE" method="post">
                                                <button class="btn btn-sm btn-danger">Delete</button>
                                            </form>
                                            <div id="comment" class="collapse">
                                                <form action="/recipe/<%=recipe._id%>/comments/<%= comment._id %>?_method=PUT" method="post">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
                                                    </div>
                                                    <div class="form-group">
                                                      <button class="btn btn-success form-inline">UPDATE</button>  
                                                    </div>
                                                </form>
                                            </div>
                                        <%}%> 
                                    </div>
                                    <div class="clear"></div>
                                    <p><%= comment.text %></p>
                                   
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>


<% include ../partials/footer %>